
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: x-large;
  padding: 14px 16px;
  text-decoration: none;
}


  
   
 @media only screen and (min-width: 992px) and (max-width: 1024px) {
   /* case study page
   ============= */
   /* portfolio 
   ============= */
   .portfolio-single-info {
     padding: 20px;
   }
   /* Blog page
   ============= */
   .blog-content {
     right: -165px;
   }
   .blog-content-left .blog-content {
     left: -166px;
   }
   .video-section,
   .video-section img {
     width: 100%;
   }
   .blog-img img {
     width: 100%;
   }
 }
 
 /* Extra Small Devices, Phones */
 @media only screen and (min-width: 320px) and (max-width: 768px) {
   .protfolio-list .colon {
     display: none;
   }
   #google-map {
     width: 100%;
     height: 200px;
   }
   .contact-btn .th-btn {
     padding: 30px 0;
     width: 100%;
   }
   .contact-content {
     padding: 4%;
   }
   /* case study section */
   .case-study-content img {
     float: none;
     width: 100%;
   }
   /* Blog Single Page */
   .blog-single-content {
     padding: 46px 0 0 0;
   }
   .blog-left-img {
     display: block;
     padding-bottom: 20px;
   }
   .blog-left-img:before {
     right: auto;
     left: 50%;
     bottom: -4px;
     top: auto;
     -webkit-transform: translateX(-50%) rotate(90deg);
             transform: translateX(-50%) rotate(90deg);
     margin-left: -5px;
   }
   .blog-comments-img {
     margin: 0 auto;
   }
   .comments-body {
     padding: 20px;
   }
   form .padding-left-15 {
     padding-left: 0;
   }
   .blog-form-textarea {
     min-height: 150px;
   }
   .form-submit-btn .th-btn {
     padding: 20px 0;
     width: 100%;
   }
 }
 
 /* Small Devices, Tablets */
 @media only screen and (min-width: 768px) {
   .logo {
     left: 80px;
     top: 25px;
   }
   .logo img {
     width: auto;
   }
   .th-nav-btn {
     right: 80px;
     top: 45px;
   }
   .case-study-content img {
     width: auto;
     margin: 20px auto;
   }
 }
