<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
         <title>My Page!</title>

<body>
    <h1>Capstone project - hotel recommender system website!!</h1>
    <h6>the smalles size</h6>
    <button>I'm a button</button>
    <button>Click here</button>
    <P>World <strong>Elephant</strong> Day, marked annually on Aug. 12,<br/> was founded by filmmaker Patricia Sims and Thailand's Elephant Reintroduction Foundation to promote the protection of Asian and African elephants.</P>
    <P>these is for <em>paragraph</em></P>
    <P>these is for paragraph</P>
    <P>these is for paragraph</P>

    <ul>    
        <li>Home </li>
        <li>Tableau1 </li>
        <li>Tableau2 </li>
        <li>Project Paper</li>
        <li>Excutive Summary</li>
        <li>About Us </li>
    </ul>
    <li>I'm an item</li>
</body>
</html>