<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tableau1</title>
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- JS -->
        <script type="text/javascript" src="static/js/logic.js"></script>
    </head>
    

<body>
    
    <header> 
        <nav> 
        <ul> 
            <li><a href="/">Home</a></li>
            <li><a href="/Tableau1">Tableau1</a></li>
            <li><a href="/Tableau2">Tableau2</a></li>
            <li><a href="/Project_Paper">Project Paper</a></li>
            <li><a href="/About_Us">About Us</a></li>
        </ul>
        </nav>
   

    </header>
  
    <section>
    <h1>About Us</h1>
    
    </section>

    
    <article>
    <p>
        <h3>Neil Ralson - Working on Machine Learning</h3><br>

        <h3>Carlos Copado - Working on Business Intelligence</h3><br>

        <h3>Addis Ashenafi - Working on Website Development</h3>
     </p>
    </article>
            

    
</body>
</html>