<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project_Paper</title>
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- JS -->
        <script type="text/javascript" src="static/js/logic.js"></script>
    </head>

<body>
    
<header> 
    <nav>
    <ul> 
        <li><a href="/">Home</a></li>
        <li><a href="/Tableau1">Tableau1</a></li>
        <li><a href="/Tableau2">Tableau2</a></li>
        <li><a href="/Project_Paper">Project Paper</a></li>
        <li><a href="/About_Us">About Us</a></li>
    </ul>
    </nav>
    
   
</header>
  
<section>
<h1>Project Paper</h1>


<object src="/Group6_Project_Proposal_v3.pdf" type="application/pdf" title="SamplePdf" width="500" height="720">
<a href="/Group6_Project_Proposal_v3.pdf">shree</a>
 
</object>

</section>
    
</body>
</html>