<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project_Paper</title>
       
         <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
     
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- JS -->
        <script type="text/javascript" src="static/js/logic.js"></script>
    </head>

<body>
    
<header> 
    <nav>
    <ul> 
        <li><a href="/">Home</a></li>
        <li><a href="/Tableau1">Tableau1</a></li>
        <li><a href="/Tableau2">Tableau2</a></li>
        <li><a href="/Project_Paper">Project Paper</a></li>
        <li><a href="/About_Us">About Us</a></li>
    </ul>
    </nav>
</header>

<div>

<h1>Project Papers</h1>
<p>Final Paper <a href="https://cs.wellesley.edu/~cs115/slides/W01-02-HTMLBasics.pdf">Click here</a>.</p>
<p>Basic HTML Tutorial <a href="http://www.team358.org/files/website/Basic_HTML_Tutorial.pdf">Click here</a>.</p>
<p>Project Proposal <a href="https://github.com/Uassignment/uofm_data_capstone_hotel-recommendations/blob/main/Group6_Project_Proposal_v3.pdf">Click here</a>.</p>
</div> 
<div>
    <h1> second section</h1>
</div>
</body>
</html>